* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV Js */
.navigation {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-top: 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}

li {
  font-family: Manrope;
  font-size: 1.2rem;
  font-weight: 400;
  list-style-type: none;
}

li a {
  color: #000000;
  text-decoration: none;
} 

/* .nav-soc{
 
} */

/* .nav-links{
  margin-left: 5rem;
} */

.logo-text{
  font-family: 'Manrope';
  font-weight: 800;
  font-size: 1.875rem;
  color: #000000;
}

/* HEADER Js */
.header-section{
  display: flex;
  height: 600px;
  padding: 0rem 0 0 5rem;
}

.nav-section{
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: #2351DC; */
}

.hero-section{
  margin-top: 5rem;
}

.img-section{
  background-color:rgb(211,220,248);
  width: 40%;
}

#about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 434px;
  background: #F6F8FE;
}

.skills {
  padding-left: 6rem;
  /* width: 1440px;
  height: 500px; */
  background: #FFFFFF;
}

#mainService {
  margin-top: 5rem;
  padding-left: 6rem;
  background: #fbfcfe;
}

#project{
  padding: 5rem 0;
  background: #FBFCFE;
}

#contact{
  height: 623px;
}


/* PHOTO Js */
.photo{
  padding-top: 2rem;
}

.img-soc{
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}

.hero-img{
  margin-top: 2.5rem;
}

/* INTRO */
.hero-text{
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

.hero-text-1{
  font-family: Manrope;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #2351DC;
}

.hero-text-2{
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.03em;
  color:  #2351DC;
}

.intro-cont{
  font-family: Manrope;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #000000;
  font-size: 3rem;
}

/* SOCIALS */
.soc-img{
  width: 18px;
  height: 23px; 
}

.soc a{
  border: 1px solid #2351DC;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: .8rem .5rem .3rem .5rem;
}

div .social--links {
  display: flex;
  gap: 1rem;
}

/* ABOUT JS */
.abt-text{
  font-family: Manrope;
  font-size: 3rem;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.03em;
}

.abt-paragraph{
  color: #4D4D4D;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  width: 465px;
  height: 84px;
}

.abt-soc{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}

/* SKILL */
.my-skill {
  margin-top: 8rem;
}

.skill-paragraph {
  width: 465px;
  height: 28px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #4D4D4D;
}

.stack{
  display: flex;
  gap: .5rem;
}

.skill-logo{
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background-color:rgb(237,241,252);
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.skill-name{
  display: flex;
  flex-direction: column;
  gap: -2rem;
  justify-content: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
}

.skill-stack{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
}

.stack{
  margin-bottom: 2rem;
}


/* SERVICE JS */
.service-cont{
  padding: 5rem 0;
}
.skill-subHead{
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0em;
  width: 467px;
  height: 54px;
  color: #000000;
  padding-right: 3rem;
}

.serviced {
  display: grid;
  grid-template-columns: auto auto auto ;
}

/* SERVICE RENDERED JS */
.sub-title {
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  width: 386px;
  height: 104px;
}

/* PROJECT JS */
.project-content{
  padding: 0 6rem;
}

.cont-header{
  margin-bottom: 2.5rem;
  }
  
/* #projectDone {
 
} */

.milestones {
  display: grid;
  grid: 
  'milestone1 milestone2 milestone2'
  'milestone1 milestone3 milestone4'
  'milestone5 milestone5 milestone4'
  'milestone5 milestone5 milestone6' ;
  grid-gap: 1rem;
}

.milestone1 {
  grid-area: milestone1;
  background-color: #2351DC;
  height: 630px;
}

.milestone2 {
  grid-area: milestone2;
  background-color: #0DC397;
  height: 300px;
}

.milestone3 {
  grid-area: milestone3;
  background-color:  #0A1842;
  height: 310px;
}

.milestone4 {
  grid-area: milestone4;
  background-color: #2351DC;
  height: 640px;
}

.milestone5 {
  grid-area: milestone5;
  background-color: #1C41B0;
  height: 640px;
}

.milestone6 {
  grid-area: milestone6;
  background-color: #2351DC;
  height: 310px;
}

/* MILESTONE JS */
.milestone{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  color: #ffffff;
}

a.mile {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/* TESTIMONIAL JS */
.testimonial{
  display: flex;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  background: #1F49C6;
  width: 40%;
  height: 843px;
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 700;
}

.cont{
  width: 418px;
  height: 126px;
}

.detail{
  display: grid;
  grid-template-columns: auto auto;
  padding: 5rem 8rem;
  align-items: center;
  width: 60%;
}

/* LAYOUT JS */
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  align-items: center;
  text-align: center;
  height: 81px;
}

.layout-img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.name{
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
  color: #000000;
}

.comment{
  padding:0 2rem;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #24292E;
}

/* GET-IN-TOUCH JS */
.connect {
  display: flex;
  height: 623px;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 0 0 6rem;
  width: 55%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email{
  display: flex;
  gap: 1rem;
}

.contact-section {
  width: 45%;
  background: #1C41B0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 5rem;
}

.contact-head {
  color: rgba(255, 255, 255, 0.7);
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
}

.send{
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: left;
}


/* CONTACT JS */
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #FFFFFF; 
  border-radius: 4px;
}

input[type=submit]{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}
input[type=submit]:hover{
  background-color: #000000;
  color: #F6F8FE;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 2px solid #FFFFFF; 
  border-radius: 4px;
}

/* FOOTER JS */
.footer-head {
  color: #FFFFFF;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  height: 300px;
  background: #07102C;
  color: #fff;
  padding-top: .1rem;
}

