* {
  box-sizing: border-box;
}

 body {
  padding: 0;
  margin: 0;
} 

/* .App {
  align-items: center;
} */

.main--header {
  background-color: #ffffff;
  width: 1440px;
  height: 750px;
  padding-left: 6rem;
  margin-top: 2rem;
}

.header {
  color: #000000;
  font: 'Manrope';
  font-weight: 500;
  font-size: 2.1rem;
  /* line-height: 40px; */
  /* letter-spacing: -1%; */
}

.nav--links {
  display: flex;
  flex-direction: column;
}

.navigation {
  /* background-color: #0DC397; */
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 50px;
  overflow: hidden;
}

.nav-links {
  /* margin-left: 10px; */
}

.links {
  margin-left: 30px;
}

nav ul {
  display: flex;
  margin-top: 1.5rem;
  margin-right: 25rem;
}

li  {
  margin: 0.2rem;
  list-style-type: none;
  font: 'Manrope';
  font-weight: 300;
  font-size: 1.5rem;
  font-style: normal;
  /* letter-spacing: -1%; */
  line-height: 20px;
}

li a {
  color: #000000;
  text-decoration: none;
}

.image {
  position: absolute;
  /* display: flex; */
  /* width: 40%; */
  /* height: 618px; */
  /* height: 100%; */
  left: 63rem;
  /* top: 163px; */
  /* background: #D3DCF8; */
  /* margin-right: 10px; */

}

.image img {
  width: 100%;
  border-radius: 10px;
}

.nav--soc {
  position: absolute;
  left: 87rem;
  top: 4.5rem;
}


.section1 {
  display: flex;
  margin-top: 7rem;
}

h6 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #2351DC;
}

h3 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #2351DC;
}

h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #000000;
}


div .social--links a {
  border: 1px solid #2351dc;
  border-radius: 50%;
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0.5rem;
}

.abt {
  display: flex;
  justify-content: center;
  height: 434px;
  background: #F6F8FE;
}

.about {
  text-align: center;
  padding-top: 5rem;
}

.aboutp {
  color: #4D4D4D;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Manrope';
  width: 465px;
  height: 64px;
}

.skills {
  padding-left: 6rem;
  width: 1440px;
  height: 500px;
  background: #FFFFFF;
}

.mySkill {
  margin-top: 10rem;
}

.stack {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.skillp {
  width: 465px;
  height: 28px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #4D4D4D;
}

.logo {
  margin-top: 2rem;
  width: 60px;
  height: 55px;
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #2351DC;
}

.name {
  margin-right: 25rem;
  margin-top: 2rem;
  width: 427px;
  height: 41px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #000000;
}

.mainService {
  /* margin-top: 5rem; */
  padding-left: 6rem;
  background: #fbfcfe;
}

.services {
  margin-top: 5rem;
  justify-content: space-between;
}

.serviced {
  display: grid;
  grid-template-columns: auto auto auto ;
}

.sub {
  width: 271px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
}

.projectDone {
  margin-top: 0;
  padding-left: 6rem;
  background: #FBFCFE;
  height: 25rem;
}

.milestones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  color: #ffffff;
  height: 200px;
}

.milestone1 {
  background: #2351DC;
  padding-left: 1rem;
}

.milestone2 {
  background: #0DC397;
  padding-left: 1rem;
}

.milestone3 {
  background: #1C41B0;
  padding-left: 1rem;
}

a.mile {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid yellow;
  border-radius: 2rem;
  padding: 0.3rem;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
  color:chartreuse;
  margin: 1px;
}

.editForm {
  margin: 1em 1em 0 0;
}

.editForm input {
  width: 50%;
  height: 2em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.connect {
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
  margin-top: 2rem;
  background: #FFFFFF;
  width: 1440px;
  height: 623px;
}

.getintouch {
  width: 400px;
  margin-left: 6rem;
}

.email {
  display: flex;
  align-items: center;
}

.needService {
  width: 650px;
  height: 623px;
  background: #1C41B0;
  background-position: cover;
  padding: 3rem;
}

.footer {
  padding-top: 2rem;
  text-align:center;
  width: 100vw;
  height: 300px;
  background: #07102C;
  color: #fff;
}

.footerhead {
  color: #FFFFFF;
}

.foot {
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

