/* MEDIA QUERIES */
 @media (max-width: 1440px){
    .hamburger{
      display: none;
    }
  }

  @media (max-width: 1300px) {
    .navigation {
      gap: 4rem;
    }
    nav ul {
      gap: 1rem;
    }
    #mainService {
      padding-right: 2rem;
    }
  }

  @media (max-width: 1200px){
    .logo-text{
      /* font-weight: 200; */
      font-size: 1.2rem;
    }
    .navigation {
      gap: 2rem;
    }
  
    .header-section,.skills,#mainService{
      padding-left: 3rem;
    }
    .intro-cont{
      font-size: 2rem;
    }
    
  }

  @media (max-width: 1024px){
    .nav-section{
      width: 100vw;
    }
    .img-section{
      display: none;
    }
    .navigation {
      gap: 10rem;
    }
    .hero-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .hero-text{
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .intro-cont{
      padding: 0rem 5rem;
      margin-bottom: 1rem;
    }
    .serviced {
      grid-template-columns: auto auto;
    }
    .detail{
      padding: 3rem 4rem;
    }
    .hamburger{
      display: none;
    }
  }

  @media (max-width: 890px){
    .navigation {
      gap: 8rem;
    }
    .header-section,.skills,#mainService{
      padding-left: 4rem;
    }
    .hero-text{
      margin-top: 3rem;
      align-items: center;
      padding-right: 2.5rem;
    }
  }

  @media (max-width: 850px){
    .skills{
      padding-left: 2rem;
    }
    .stack{
      flex-direction: column;
    }
  }


  @media (max-width: 688px){
    .header-section{
      padding: 0rem 0rem 0rem 2rem;
    }
    .navigation {
      justify-content: space-between;
    }
    .nav-links{
      display: none;
    }
    .serviced {
      grid-template-columns: auto;
    }
    .content{
      padding-left: 1rem;
      font-size: 1rem;
      font-weight: 200;
    }
    .cont{
      width: 418px;
      height: 126px;
    }
    .detail{
      padding: 3rem 0rem;
    }
    .hamburger{
      display: block;
      padding-right: 2rem;
    }
    .skill-stack{
      grid-template-columns: auto;
    }
    .get-in-touch {
      padding-left:2rem;
    }
    .contact-form {
      padding:5rem 2rem;
    }
    #project{
      padding: 2rem 0rem;
    }
    .project-content{
      padding: 0 2rem;
    }
    .toggler{
      display: none;
    }
  }

  
 @media (max-width: 450px){
    .header-section{
      height: 500px;
    }
    .intro-cont{
      padding: 0rem;
    }
    .hamburger{
      padding-right: 2rem;
    }
    .hero-text{
      gap: .1rem; 
    }
    .my-skill{
      margin-top: 3rem;
      padding-left: 1rem;
    }
    .skill-logo{
      width: 40px;
      height: 40px;
    }
    .skill-name{
      font-size: 1.5rem;
    }
    .abt-paragraph{
      padding: 0 3rem;
    }
    #mainService {
      padding:1rem 1.5rem;
    }
    .service-cont{
      padding: 2rem;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .serviced {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .skill-subHead{
      text-align: center;
      align-items: center;
      /* padding: 0 1.5rem; */
      margin-bottom: 1rem;
    }
    .project-content{
      padding: 0 2rem;
    }
    .milestones{
      display: block;
    }
    .mile{
      height: 100%;
    }
    #project{
      padding: 2rem 0;
    }
    .testimonial{
      display: none;
    }
    .get-in-touch {
      padding:2rem 2rem;
      width: 100%;
    }
    .contact-section {
      width: 100%;
    }
    .connect {
      flex-direction: column;
    }
    /* #about-section{
      width: 100%;
    } */
  }  

 @media (max-width: 400px){
    .header-section{
      /* padding:0 1rem; */
      /* background-color: blue; */
    }
    #about-section{
      /* background-color: black; */
    }
    #mainService{
      /* background-color: blueviolet; */
    }
    #project{
      /* background-color: cadetblue; */
    }
    .testimonials{
      /* background-color: aquamarine; */
    }
    #contact{
      /* background-color: black; */
    }
    .footer-section{
      /* background-color: burlywood; */
    }
    .navigation {
      gap: 3rem;
    }
    .abt-paragraph{
      padding: 0 4rem;
      margin-bottom: 2.5rem;
    }
    .skill-name{
      font-size: 1.2rem;
    }
  } 

  /* @media (max-width: 400px){
    .header-section{
      padding:0 1rem;
      background-color: blue;
    }
    #about-section{
      background-color: black;
    }
    #mainService{
      background-color: blueviolet;
    }
    #project{
      background-color: cadetblue;
    }
    .testimonials{
      background-color: aquamarine;
    }
    #contact{
      background-color: black;
    }
    .footer-section{
      background-color: burlywood;
    }
    .navigation {
      gap: 3rem;
    }
    .abt-paragraph{
      padding: 0 4rem;
      margin-bottom: 2.5rem;
    }
    .skill-name{
      font-size: 1.2rem;
    }
  } */
